* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-size: 62.5%;
}

html{
    scroll-behavior: smooth;
    object-position: 0 2rem;
}

header {
    width:100%;
}

.superior {
    background-color: #11111f;
    width:100%;
    height:3.5rem;
}

.wrapper_text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-variant:normal;
    font-size:0.8rem;
    padding-inline:0.7rem;
    margin-inline:0.5rem;
    white-space:nowrap;
    
}

.more_text {
    font-weight:bold;
}

nav {
    background-color: #272747;
    width:100%;
    height:2.5rem;
}

.padrao01 {
    display:flex;
    align-items: center;
    flex-direction:row;
    color:white;
    /*font-weight:bold;*/
}

.padrao02 {
    color:black;
    font-weight:normal;
    font-size:0.6rem;
    padding-block:0.7rem;
}

#banner {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    color:white;
    background-color: rgb(226, 104, 104);
    height: 3rem;
}

.divide_text {
    display:flex;
    flex-direction:column;
}

.bolder {
    font-weight:bold;
}

a {
    text-decoration:none;
    color:inherit;
}

.increase_margin {
    margin-inline:0.75rem;
}

.divide_parts {
    display:flex;
    flex-direction:row;

}

#main_img {
    width:15rem;
    height:23rem;
    /* margin:1rem 2rem;    */
}

#main_title {
    font-size:xx-large;    
}

#capa {
    font-size:x-large; 
    color:#3a3a3a; 
    font-family:'Courier New', Courier, monospace;
}

#msg_formatos {
    float:right; 
    font-size:small;
}

aside {
    width:20%;
    height:600px;
    border-radius: 1rem;
    border: 5px solid lightgray;
    margin-inline:1rem;
    padding:1rem;
}

.paralelo {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

#preco {
    color:red;
    font-style:italic; 
    float:right;   
}

.link-style {
    text-decoration:none;
    color:blue;
}

.margin-all {
    margin:1rem;
}

.font-size-small {
    font-size:small;
}

#em-estoque {
    font-weight:600;
    color:green;
    margin-bottom:1rem;
}

.button-style {
    border-radius:3rem;
    padding: 0.5rem 1rem;
    margin-block:0.25rem;
    width:15rem;
    border:none;
}

#first-button {
    background-color: yellow;
}

#second-button {
    background-color: orange;
}

.margin-bottom-one-rem {
    margin-bottom:1rem;
}

.font-size-x-small{
    font-size:11.25px;
}

.column {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

table.table-pagamento tbody tr td {
    justify-content: start;
    align-items:start;
    padding:0.2rem;

}

.cropped {
    width:25px;
    height:30px;
    object-fit:cover;
}

#cropped1 {
    object-position: -196px 0;
}

#cropped2 {
    object-position: -170px 0;
}

#cropped3 {
    object-position: -295px 0;
}

#cropped4 {
    object-position: -270px 0;
}

#cropped5 {
    object-position: 0px 0;
}
.button-style2 {
    border-radius:0.75rem;
    padding: 0.5rem 1rem;
    width:15rem;
    border: 1px solid darkgray;
    text-align:left;
}

#capa-comum {
    border:4px solid #408898; 
    border-radius: 0.5rem; 
    margin-top: 1rem; 
    width:11rem;
    font-size:small;
    display:flex;
    flex-direction:column;
    background-color:rgb(204, 226, 233);
    font-weight:bold;
    
}

#comprar-este-item {
    margin-top:0.5rem; 
    margin-bottom:1rem; 
    display:flex;
    flex-direction:row; 
    gap: 0.5rem;
}

#novo-a-partir {
    margin-bottom: 1rem;
    font-size: x-small;
    margin-top: 0.5rem;
}

.parte-movivel {
    display:flex; 
    flex-direction:row; 
    font-size:0.6875rem; 
    gap: 2.5rem; 
    text-align: center; 
    margin-block:1rem;
    
}

.especial {
    text-shadow: 4px 4px 2px blueviolet;
    white-space: nowrap;
}

#left-part {
    margin: 1rem 2rem;
}

#partes-de-frente-e-de-tras {
    margin-top: 1.5rem;
}

#seja-um {
    font-size:small;
    /* margin-block: 0.1rem; */
}

#botao-seguir {
    width:100px;
     height:30px;
}

#nome-do-autor {
    font-size:small; 
    white-space:nowrap;
}

#imagem-de-perfil {
    border-radius:4rem; 
    width:50px; 
    height:50px;
}

#autor-da-venda{
    display:flex; 
    flex-direction:row; 
    align-items:center; 
    gap:1rem;
}

#seguir-autor {
    font-weight:bold; 
    margin-block:1rem; 
    font-size:small
}

#parte-autor {
    display:flex;
    flex-direction:column;
}

hr {
    border: 1px solid lightgray;
}

#frequentemente-comprados {
    margin-block:1rem; 
    font-size:large; 
    font-weight:bold;
}